$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
$fa-font-path: "../styles/fonts/";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";

/* Put your CSS here */
html, body {
    margin: 0px 0;
}
